
PreShots.app.dSYM.zip
fastlane/Appfile
fastlane/Fastfile
fastlane/report.xml
fastlane/README.md
Gemfile
Gemfile.lock
PreShots.pkg
PreShots.xcodeproj/project.xcworkspace/xcuserdata/terrykuo.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
PreShots.app/Contents/_MASReceipt/receipt
