<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<string>true</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://universeye.github.io/PicPulse-appcast/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>9IjZis58ROjBjOeZm7l6BiH2zM3hNSkyfgLt1dbw+rw=</string>
</dict>
</plist>
